{% extends 'base.html.twig' %}

{% block title %}
    <h1 class="center-align">Add Form</h1>
{% endblock %}
{% block body %}
    {{ form_start(form)}}
    <div class="row">
        <div class="col m6 offset-m3">
            {{ form_row(form.title)}}
        </div>
    </div>
    <div class="row">
        <div class="col m6 offset-m3">
            {{ form_row(form.category)}}
        </div>
    </div>
    <div class="row">
        <div class="col m6 offset-m3">
            {{ form_row(form.content)}}
        </div>
    </div>
    <div class="row">
        <div class="col m6 offset-m3">
            {{ form_row(form.picture)}}
        </div>
    </div>
    <div class="row">
        <div class="col m6">
            {{ form_row(form._token)}}
        </div>
    </div>
    <div class="row">
        <div class="col m3 offset-m6">
            {{ form_row(form.save) }}
        </div>
    </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
